In [1]:
# from urllib import quote_plus as urlquote
import sqlalchemy
import imp
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric
from sqlalchemy.orm import sessionmaker
import numpy as np
import pandas as pd
import sys
sys.path.append('/Users/kibeom.kim/Documents/GitHub/opencell/')
from opencell.database import models
from opencell.database import utils
from opencell.database import ms_models
from opencell.database import ms_utils
from opencell.database import ms_operations as ms_ops
from opencell.imaging import processors
from opencell import constants
from eralchemy import render_er
from sqlalchemy import inspect
import pdb
import numpy as np

In [6]:
from eralchemy import render_er
## Draw from SQLAlchemy base
render_er(Base, 'er_03_20.png')

### Start SQLAlchemy session

In [2]:
# initiate and connect engine
url = 'postgresql://postgres:password@localhost:5434/opencelldb_dev'
engine = sqlalchemy.create_engine(url)
engine.connect()

In [3]:
# initiate session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [4]:
Base = ms_models.Base
Base.metadata.create_all(engine)

In [5]:
inspector = inspect(engine)
inspector.get_columns('pulldown')

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': "nextval('pulldown_id_seq'::regclass)",
  'autoincrement': True,
  'comment': None},
 {'name': 'cell_line_id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'replicate',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'pulldown_plate_id',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'pulldown_well_id',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'qc_flag',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'note_on_prep',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

## Import Pulldown Plate Table

In [6]:
data_root = '/Users/kibeom.kim/Documents/GitHub/opencell/data/mass_spec/'
# the csv file is already formatted to be input rightaway
plate_df = pd.read_csv(data_root + '20200305_ms_plates.csv', header=0, low_memory=False)

# Convert np.nan to Nones
plate_df = plate_df.replace({np.nan: None})

In [7]:
imp.reload(ms_utils)

# format plates and dates

# date formatting to DateTime
date_cols = ['prep_date', 'ship_date', 'quant_date']
for date in date_cols:
    plate_df[date] = pd.to_datetime(plate_df[date],format='%m/%d/%y')

# convert plate ids
plate_df['id'] = plate_df['id'].apply(ms_utils.format_ms_plate)

# Convert np.nan and np.NaT to Nones
plate_df = plate_df.replace({np.nan: None})
plate_df = plate_df.replace({np.datetime64('NaT'): None})

In [9]:
# imp.reload(operations)
for ind, row in plate_df.iterrows():
    temp_row = row.copy()
    if row.id is None:
        continue
    plate_cls = ms_ops.PulldownOperations(None)
    plate_cls.insert_pulldown_plate(session, row)

## Import Pulldown Table

In [10]:
data_root = '/Users/kibeom.kim/Documents/GitHub/opencell/data/mass_spec/'
# the csv file is already formatted to be input rightaway
pulldown_df = pd.read_csv(data_root + '20200305_pulldowns.csv', header=0, low_memory=False)

# Convert np.nan to Nones
pulldown_df = pulldown_df.replace({np.nan: None})

In [74]:
imp.reload(ms_ops)
inds = []
missing_ids = []
# Insert into database
for ind, row in pulldown_df.iterrows():
    inds.append(ind)
    temp_row = row.copy()
    # format plate and well strings properly
    try:
        temp_row.design_id = utils.format_plate_design_id(temp_row.design_id)
        temp_row.well_id = utils.format_well_id(temp_row.well_id)
        temp_row.pulldown_plate_id = ms_utils.format_ms_plate(temp_row.pulldown_plate_id)
        temp_row.pulldown_well_id = utils.format_well_id(temp_row.pulldown_well_id)
    except Exception:
        missing_ids.append(ind)
        continue

    try:
        pull_cls = ms_ops.PulldownOperations.from_plate_well(session,
            temp_row.design_id, temp_row.well_id)
    except Exception as error:
        print(str(error))
        continue
    pull_cls.insert_pulldown_row(session, temp_row, errors='raise')

In [13]:
test_row = pulldown_df.loc[0]

In [14]:
test_row

pulldown_plate_id       0
pulldown_well_id      A01
target_name          ATL2
replicate               1
note_on_prep         None
design_id             p01
well_id                A1
Name: 0, dtype: object

In [66]:
for i,instance in enumerate(lines):
    print(instance)
    if i == 0:
        break

<CellLine(id=366, parent_id=1, type='CellLineTypeEnum.POLYCLONAL')>

In [ ]:
pulldown_df.shape

In [ ]:
test[0].cell_line.electroporation_line.electroporation.plate_instance.plate_design.crispr_designs

In [84]:
a = session.query(ms_models.Pulldown)\
    .filter(ms_models.Pulldown.pulldown_plate_id == 'CZBMPI_0000')\
    .all() 
line = [instance for instance in a if instance.cell_line.get_crispr_design().target_name == 'ATL2']



for i,instance in enumerate(line):
    print(instance.pulldown_plate_id,instance.cell_line.get_crispr_design().target_name, instance.replicate)
    if i == 10:
        break

CZBMPI_0000 ATL2 1
CZBMPI_0000 ATL2 2
CZBMPI_0000 ATL2 3