In [2]:
# from urllib import quote_plus as urlquote
import imp
import sys
import pdb
import numpy as np
import pandas as pd

sys.path.append('../../')
from opencell import constants
from opencell.database import models
from opencell.database import utils
from opencell.database import ms_utils
from opencell.database import ms_operations as ms_ops
from opencell.imaging import processors

import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric
from sqlalchemy.orm import sessionmaker

# from eralchemy import render_er

In [ ]:
## Draw from SQLAlchemy base
render_er(Base, 'er_04_13.png')

### Start SQLAlchemy session

In [3]:
url = 'postgresql://postgres:password@localhost:5434/opencelldb-dev'
# url = utils.url_from_credentials('../../db-credentials-cap.json')
url

'postgresql://postgres:password@localhost:5434/opencelldb-dev'

In [4]:
# initiate and connect engine
engine = sqlalchemy.create_engine(url)
engine.connect()

In [5]:
# initiate session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [ ]:
Base = models.Base
Base.metadata.create_all(engine)

## Import Pulldown Plate Table

In [13]:
data_root = '../../data/mass_spec/'
# the csv file is already formatted to be input rightaway
plate_df = pd.read_csv(data_root + '20201002_ms_plates.csv', header=0, low_memory=False)

In [14]:
# convert plate ids
plate_df['id'] = plate_df['id'].apply(ms_utils.format_ms_plate)
plate_df = plate_df[['id','plate_design_link','plate_number_subset']]
plate_df.drop_duplicates(inplace=True)

# Convert np.nan and np.NaT to Nones
plate_df = plate_df.replace({np.nan: None})

In [15]:
plate_df[50:]

,id,plate_design_link,plate_number_subset
50,CZBMPI_0047,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 2
51,CZBMPI_0048,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 2 + 4
52,CZBMPI_0049,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 5 + 7 + 9 + 10 + 15
53,CZBMPI_0050,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 11 + 14 + 17 + 18+19 + 1
54,CZBMPI_0051,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 3 + 6 + 8
55,CZBMPI_0052,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 21 Sub 1
56,CZBMPI_0053,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 21 Sub 2
57,CZBMPI_0054,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 21 Sub 3 + Resort targets Sub 1 (1-19)
58,CZBMPI_0055,https://docs.google.com/spreadsheets/d/1YTZPuj...,resort targets Sub 2 (1-19)
59,CZBMPI_0056,https://docs.google.com/spreadsheets/d/1YTZPuj...,Plate 21 Re-sorts + Resort targets Sub 3 (1-19)

In [16]:
for ind, row in plate_df[50:].iterrows():
    temp_row = row.copy()
    if row.id is None:
        continue
    ms_ops.insert_pulldown_plate(session, row)

## Import Pulldown Table

In [ ]:
# data_root = '../../data/mass_spec/'

# # the csv file is already formatted to be input rightaway
# pulldown_df = pd.read_csv(data_root + '20200305_pulldowns.csv', header=0, low_memory=False)

# pulldown_df = ms_utils.reformat_pulldown_table(pulldown_df)

# # Convert np.nan to Nones
# pulldown_df = pulldown_df.replace({np.nan: None})

In [34]:
pulldown_df = pd.read_pickle(data_root + 'pulldown_metadata_1002.pkl')
pulldown_df.rename(columns={'plate_design_id':'design_id', 'Resorted': 'sort_count'}, inplace=True)

In [35]:
# pulldown_df.dropna()
pulldown_df = pulldown_df[1353:]
pulldown_df.dropna(subset=['sort_count']).head()

,design_id,well_id,pulldown_plate_id,target_name,sort_count,ensg_id,gene_names,cell_line_id,crispr_design_id,protein_group
1353,P0001,A01,CZBMPI_0045,ATL2,1,ENSG00000119787,ATL2 ARL6IP2,366.0,1.0,[B5MCN0; C9JQQ5; H7C3A2; Q8NHH9; Q8NHH9-2; Q8N...
1354,P0001,A03,CZBMPI_0045,BCAP31,1,ENSG00000185825,BCAP31 BAP31 DXS1357E,368.0,3.0,"[C9J0M4; C9JQ75; P51572; P51572-2, C9JM14; C9J..."
1355,P0001,C09,CZBMPI_0045,CD63,1,ENSG00000135404,CD63 MLA1 TSPAN30,398.0,33.0,[F8VNT9; F8VV56; F8VWK8; F8W022; P08962; P0896...
1356,P0001,C10,CZBMPI_0045,CD81,1,ENSG00000110651,CD81 TAPA1 TSPAN28,399.0,34.0,[A6NMH8; E9PIF1; E9PJK1; E9PM31; E9PRJ8; H0YDJ...
1357,P0001,C11,CZBMPI_0045,CD9,1,ENSG00000010278,CD9 MIC3 TSPAN29 GIG2,400.0,35.0,NaN

In [24]:
imp.reload(ms_ops)
inds = []
missing_ids = []

# Insert into database
for ind, row in pulldown_df.iterrows():
    inds.append(ind)
    temp_row = row.copy()
    # # format plate and well strings properly
    # try:
    #     temp_row.design_id = utils.format_plate_design_id(temp_row.design_id)
    #     temp_row.pulldown_plate_id = ms_utils.format_ms_plate(temp_row.pulldown_plate_id)
    #     temp_row.well_id = utils.format_well_id(temp_row.well_id)
    # except Exception:
    #     missing_ids.append(ind)
    #     continue

    try:
        line_ops = ms_ops.MassSpecPolyclonalOperations.from_plate_well(
            session, temp_row.design_id, temp_row.well_id, temp_row.sort_count
        )
    except Exception as error:
        print(str(error))
        continue
    line_ops.insert_pulldown(session, temp_row, errors='raise')

No cell line exists with a sort_count of None for well H04 of plate P0021
No cell line exists with a sort_count of None for well H06 of plate P0021
No cell line exists with a sort_count of None for well H07 of plate P0021
No cell line exists with a sort_count of None for well H08 of plate P0021
No cell line exists with a sort_count of None for well H09 of plate P0021

## Migrate Pulldowns to Resorted cell-lines

In [8]:
migration_list = pd.read_pickle(data_root + 'migration_pulldowns_1002.pkl')

In [43]:
migration_list

,design_id,well_id,pulldown_plate_id,target_name,sort_count,ensg_id,gene_names,cell_line_id,crispr_design_id,db_sort_count
329,P0004,H07,CZBMPI_0048,TMEM192,1,ENSG00000170088,TMEM192,361.0,376.0,2
330,P0018,G07,CZBMPI_0035,ARID1B,1,ENSG00000049618,ARID1B BAF250B DAN15 KIAA1235 OSA2,1669.0,1680.0,2
331,P0018,G09,CZBMPI_0035,SMARCA2,1,ENSG00000080503,SMARCA2 BAF190B BRM SNF2A SNF2L2,1671.0,1682.0,2
332,P0001,D05,CZBMPI_0050,HLA-A,1,ENSG00000206505,HLA-A HLAA,406.0,41.0,2
333,P0002,G04,CZBMPI_0002,MFN2,1,ENSG00000116688,MFN2 CPRP1 KIAA0214,819.0,172.0,2
...,...,...,...,...,...,...,...,...,...,...
394,P0016,C09,CZBMPI_0039,CKAP2L,1,ENSG00000169607,CKAP2L,1530.0,1446.0,2
395,P0021,F09,CZBMPI_0053,CDX2,1,ENSG00000165556,CDX2 CDX3,1847.0,1858.0,2
396,P0021,H08,CZBMPI_0054,INTS6,1,ENSG00000102786,INTS6 DBI1 DDX26 DDX26A,1870.0,1881.0,2
397,P0016,D08,CZBMPI_0039,LBR,1,ENSG00000143815,LBR,1540.0,1457.0,2
398,P0016,E04,CZBMPI_0039,SYNE3,1,ENSG00000176438,SYNE3 C14orf139 C14orf49 LINC00341,1548.0,1465.0,2

In [41]:
for i, row in migration_list.iterrows():
    try:
      pulldown = ms_ops.MassSpecPulldownOperations.from_ids(session, row.design_id, row.well_id,      row.sort_count, row.pulldown_plate_id)
    except Exception:
        print(i)
    if pulldown:
        pulldown.update_to_resorted_line(session, row.design_id, row.well_id, row.db_sort_count)

338
387

### Update Dynamic FDRs

In [30]:
fdr_table = pd.read_pickle('/Users/kibeom.kim/Documents/GitHub/opencell/opencell/mass_spec/ignore/old_pickles/1002/p45-56_dfdrs_1002.pkl')
# pulldown_df = pd.read_pickle('/Users/kibeom.kim/Documents/GitHub/opencell/data/mass_spec/20200305_pulldowns_final.pkl')

In [50]:
fdr_table

            bait      fdr1      fdr5
0      P045_ATL2  [3, 2.7]  [3, 2.3]
1     P056_NOMO1  [3, 2.6]  [3, 2.5]
2     P055_STIM2  [3, 2.4]  [3, 2.4]
3    P052_ATG101  [3, 1.1]  [3, 0.9]
4      P046_RTN4  [3, 3.7]  [3, 1.1]
..           ...       ...       ...
360  P055_GTF2F1  [3, 4.1]  [3, 3.3]
361   P048_VTI1B  [3, 2.3]  [3, 1.5]
362    P046_CLTA  [3, 1.7]  [3, 1.3]
363    P047_NAPG  [3, 2.1]  [3, 2.0]
364  P048_TSG101  [3, 1.3]  [3, 1.1]

[365 rows x 3 columns]

In [51]:
fdr_table = fdr_table[fdr_table['bait'].map(lambda x: 'P043' not in x)]

In [64]:
test = fdr_table.reset_index()

In [66]:
test[test['bait'].map(lambda x: 'C14ORF119' in x)]

     index            bait      fdr1      fdr5
112    112  P045_C14ORF119  [3, 0.5]  [3, 0.4]

In [59]:
fdr_table.set_index('bait', inplace=True)

In [60]:
imp.reload(ms_utils)
ms_utils.fdr_mismatching_target_names(final_adds, fdr_table)

{'ARHGAP11AB',
 'C14ORF119',
 'C18ORF21',
 'C19ORF24',
 'C19ORF43',
 'C19ORF53',
 'C1ORF123',
 'C7ORF50',
 'C8ORF33',
 'C8ORF59',
 'C9ORF16',
 'CFAP298',
 'ERG28',
 'NAN',
 'TMEM192 (RE-SORTED)'}

In [ ]:
for target, row in fdr_table.iterrows():
    pulldown_ops = ms_ops.MassSpecPulldownOperations.from_target(
        session, target, pulldown_df, sort_count
    )
    pulldown_ops.insert_fdrs(session, row)