In [1]:
# from urllib import quote_plus as urlquote

import imp
import pdb
import sys
import time
import numpy as np
import pandas as pd

sys.path.append('../../')
from opencell.database import utils, models, operations, ms_utils, uniprot_utils
from opencell.database import ms_operations as ms_ops
from opencell.imaging import processors
from opencell import constants

import sqlalchemy
# from eralchemy import render_er
from sqlalchemy import inspect
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric
from sqlalchemy.orm import sessionmaker

sys.path.append('../..//opencell/mass_spec/')
import pyseus as pys
import plotly_volcano as pv
import pval_calculation as pval
import hack_pvals as hp
import dynamic_fdr as dfdr
import stoichiometry as stoi 
import re

In [4]:
# import pre-processed pulldown table
pulldown_db = pd.read_pickle('../../data/mass_spec/migrated_pulldowns_1012.pkl')

In [5]:
pulldown_db.shape

(1695, 9)

In [6]:
# url = 'postgresql://postgres:password@keith_oc_db2:5432/opencelldb'
url = utils.url_from_credentials('../../db-credentials-cap.json')
print(url)
# url = 'postgresql://postgres:password@localhost:5434/opencelldb_dev'

# initiate and connect engine
engine = sqlalchemy.create_engine(url)
engine.connect()

# Base = models.Base
# Base.metadata.create_all(engine)

# initiate session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()# initiate session

postgresql://postgres:password@cap.czbiohub.org:5434/opencelldb

In [7]:
manual_pickls = pd.read_csv('../../opencell/mass_spec/ignore/old_pickles/1002/redundant_baits_1002_ML_annotations.csv')

In [8]:
manual_pickls

      target             plate  pick  Unnamed: 3
0       AATF  ['P023', 'P028']  P028         NaN
1     AKAP13  ['P014', 'P055']  P014         NaN
2     AKR1A1  ['P016', 'P054']  P016         NaN
3    ANKRD54  ['P028', 'P055']  P028         NaN
4      ARAP1  ['P014', 'P017']  P014         NaN
..       ...               ...   ...         ...
150    VPS4A  ['P007', 'P021']  P021         NaN
151    VTI1A  ['P010', 'P048']  P010         NaN
152    VTI1B  ['P010', 'P048']  P010         NaN
153     YKT6  ['P010', 'P047']  P047         NaN
154   ZNF444  ['P034', 'P054']  P034         NaN

[155 rows x 4 columns]

In [9]:
# query the pulldown table for a gene
for i, row in manual_pickls.iterrows():
    try:
        target = row.target
        plate_pick = ms_utils.format_ms_plate(row.pick)
        selection = pulldown_db[pulldown_db['target_name']==target]
        drow = selection.iloc[0]
        design_id = drow.design_id
        well_id = drow.well_id
        sort_count = selection['sort_count'].max()
        pulldown_ops = ms_ops.MassSpecPulldownOperations.from_ids(
        session,
        pulldown_plate_id=plate_pick,
        plate_design_id=design_id,
        well_id=well_id,
        sort_count=sort_count)

        pulldown_ops.manually_flag_pulldown(session)
    except Exception:
        print(row)

target               C14ORF119
plate         ['P009', 'P045']
pick                      P045
Unnamed: 3                 NaN
Name: 16, dtype: object
target                C18ORF21
plate         ['P009', 'P045']
pick                      none
Unnamed: 3                 NaN
Name: 17, dtype: object
target                C19ORF24
plate         ['P009', 'P045']
pick                      P009
Unnamed: 3                 NaN
Name: 18, dtype: object
target                C19ORF53
plate         ['P009', 'P045']
pick                      P045
Unnamed: 3                 NaN
Name: 19, dtype: object
target                 C7ORF50
plate         ['P009', 'P045']
pick                      P045
Unnamed: 3                 NaN
Name: 20, dtype: object
target                 C8ORF59
plate         ['P009', 'P045']
pick                      P045
Unnamed: 3                 NaN
Name: 21, dtype: object
target                  CCDC86
plate         ['P017', 'P054']
pick                      none
Unnamed: 3                 NaN
Name: 23, dtype: object

In [44]:
selection = pulldown_db[pulldown_db['target_name']=='RPL27']
selection

,design_id,well_id,pulldown_plate_id,target_name,sort_count,ensg_id,gene_names,cell_line_id,crispr_design_id,protein_group
1525,P0003,C02,CZBMPI_0051,RPL27,1.0,ENSG00000131469,RPL27,865,218,"[K7ELC7; K7EQQ9; K7ERY7; P61353, K7ELC7; P61353]"
1636,P0003,C02,CZBMPI_0055,RPL27,2.0,ENSG00000131469,RPL27,1902,218,"[K7ELC7; K7EQQ9; K7ERY7; P61353, K7ELC7; P61353]"

In [46]:
# # flag a designated pulldown
# pulldown_ops = ms_ops.MassSpecPulldownOperations.from_ids(
#     session,
#     pulldown_plate_id='CZBMPI_0051',
#     plate_design_id='P0003',
#     well_id="C02",
#     sort_count=2
# )
    
# pulldown_ops.manually_flag_pulldown(session)

In [26]:
# confirm if pulldown was flagged correctly

pull_cls = ms_ops.MassSpecPolyclonalOperations.from_plate_well(
    session, design_id, well_id, sort_count
)

cell_line_id = pull_cls.line.id
pulldowns = (
    session.query(models.MassSpecPulldown)
    .filter(models.MassSpecPulldown.cell_line_id == cell_line_id)
)

for pulldown in pulldowns:
    print(pulldown.pulldown_plate_id + ' ' + pulldown.get_target_name())
    print(pulldown.manual_display_flag)

CZBMPI_0055 AKAP13
False
CZBMPI_0014 AKAP13
True